{{#each this}}
<a class="photo-card">
    
    <div class="info">
        <img url = {{this.poster_path}} width="200" height="100" load = "lazy">
        <p class="info-item">
            <b>Name {{this.original_title}}</b>
        </p>
        <p class="info-item">
            <b>Popularity {{this.popularity}}</b>
        </p>
        <p class="info-item">
            <b>Comments {{this.overview}}</b>
        </p>
        <p class="info-item">
            <b>Vote Count {{this.vote_count}} </b>
        </p>
    <button class="btn" type="button" id = "queue">Queue</button>
    <button class="btn" type="button" id = "watched">Watched</button>
    </div>
</a>
{{/each}}