{{#each this}}
<a class="photo-card">
    
    <div class="info">
        <img src="https://image.tmdb.org/t/p/w500{{poster_path}}" alt="{{title}}" width="150" height="200" load="lazy">
        <p class="info-item">
            <b>Name {{original_title}}</b>
        </p>
        <p class="info-item">
            <b>Popularity {{popularity}}</b>
        </p>
        <p class="info-item">
            <b>Comments {{this.overview}}</b>
        </p>
        <p class="info-item">
            <b>client_id <span class="client_id">{{this.id}}</span></b>
        </p>
        
    <button class="btn" type="button" id = {{this.id}}>Queue</button>
    <button class="btn" type="button" id = {{this.id}}>Watched</button>
    </div>
</a>
{{/each}}